<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hhplus.be.server.point.infrastructure.persistence.mapper.PointMapper">

    <!-- 유저의 포인트 잔액 확인 -->
    <select id="selectBalanceByUserNo" parameterType="int" resultType="kr.hhplus.be.server.point.domain.model.PointBalance">
        SELECT balance, user_no FROM point_hist WHERE user_no = #{userNo} ORDER BY CREATED_AT DESC LIMIT 1
    </select>

    <!-- 포인트 충전(사용) 이력 데이터 삽입 -->
    <insert id="insertPointHist" parameterType="kr.hhplus.be.server.point.domain.model.Point">
        INSERT INTO point_hist (
            type,
            amount,
            order_id,
            balance,
            user_no,
            created_at,
            idempotency_key
        ) VALUES (
            #{type},
            #{amount},
            #{orderId},
            #{balance},
            #{userNo},
            NOW(),
            #{idempotencyKey}
        )
    </insert>

    <select id="countIndempotencyKey" resultType="int">
        SELECT count(*) from point_hist
        <where>
            idempotency_key = #{key}
            and user_no = #{userNo}
        </where>
    </select>

    <!-- 사용자 포인트 잔액 조회 -->
    <!--
        상품 정보 조회 시 FOR UPDATE 락 걸기
         → 해당 product 행에 X-Lock (배타 락) 발생
         → 다른 트랜잭션은 이 행에 접근(읽기/쓰기)할 수 없음 → Oversell 방지
     -->
    <select id="findByUserIdForUpdate" resultType="Long">
        SELECT balance FROM point_hist WHERE user_no = #{userNo} ORDER BY CREATED_AT DESC LIMIT 1
        FOR UPDATE
    </select>

</mapper>
